@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://www.appsystem.fr/wp-content/uploads/2019/09/auto-doc.jpg?x34514" alt="AutoDoc" />
    <h1 class="display-4">Добре дошли </h1>
    <P>С повече от 20 години опит ние от AutoDOC можем да бъдем вашия най-добър приятел при избора на нови авто части.</P>
</div>